body {
  /* background-color: #556b2f98; */
  background-color: black;
}
.main-container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: white; */
  background-color: black;
}

a {
  padding-right: 40px;
  text-decoration: none;
  /* color: rgba(0, 0, 0, 0.537); */
  color: rgba(255, 255, 255, 0.597);
  display: flex;
  align-items: center;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px;
}

a:hover {
  color: aquamarine;
  font-size: 20px;
}

.logo {
  /* color: rgba(0, 0, 0, 0.724); */
  color: white;
  font-family: "Lexend Exa", sans-serif;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 200;
}

.logo-underline {
  text-decoration: underline;
  text-decoration-color: aquamarine;
  text-underline-offset: 10px;
}
.top {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 30px;
}

.moving {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  width: 50%;
  justify-content: space-evenly;
}
.introduction {
  font-family: "Lexend Exa", sans-serif;
  font-size: 55px;
  letter-spacing: -5px;
  color: white;
  font-weight: 300;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.moving-text {
  font-family: "Lexend Exa", sans-serif;
  font-size: 35px;
  letter-spacing: 0px;
  color: white;
  font-weight: 300;
  letter-spacing: -2px;
  width: 100%;
  padding-bottom: 40px;
}
.top-description {
  color: white;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 40px;
  display: flex;
}
.about-card {
  /* background-color: white; */
  display: flex;
}

.headshot {
  height: 400px;
  width: auto;
  display: flex;
}

.my-projects-button {
  color: white;
  border: 2px solid aquamarine;
  border-radius: 0px;
  padding: 10px 10px;
  display: inline-block;
  font-family: "Lexend Exa", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 aquamarine;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  width: 40%;
  margin-top: 20px;
  background-color: black;
  margin-bottom: 20px;
  font-weight: 100;
}

.my-projects-button:hover {
  box-shadow: inset 0 100px 0 0 aquamarine;
  color: black;
}

.middle {
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  width: 80%;
}

i {
  color: rgb(127, 255, 212);
  font-size: 50px;
}

.project-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  margin-top: 80px;
}

.projects-title {
  justify-content: center;
  text-transform: uppercase;
  font-family: "Lexend Exa", sans-serif;
  padding-left: 175px;
  color: white;
  font-weight: 200;
  font-size: 35px;
}

.project-underline {
  text-decoration: underline;
  text-decoration-color: aquamarine;
  text-underline-offset: 10px;
}

.python-project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}

.python-image {
  height: 300px;
  width: auto;
  padding-left: 20px;
}

.python-text {
  color: white;
}

.python-heading {
  font-family: "Lexend Exa", sans-serif;
}
